/* debug */
.debug .container,
.debug .container-fluid,
.debug-noheight .container,
.debug-noheight .container-fluid {
  border: 1px solid red;
  background: pink;
}
.debug .container [class*="col-"] {
  border: 1px solid blue;
  height: 300px;
}
.debug-noheight .container [class*="col-"] {
  border: 1px solid blue;
}
body {
  font-family: 'Roboto', sans-serif;
}
.wrap_80 {
  width: 80%;
  margin: 0 auto;
}
.width_50 {
  width: 50%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.color_lightblue {
  color: #0069FF;
}
.color_blue {
  color: #031B4E;
}
.color_white {
  color: white;
}
.color_grey {
  color: grey;
}
.medium_weight {
  font-weight: 600;
}
.bold_weight {
  font-weight: bold;
}
.padding_70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.padding_top_70 {
  padding-top: 70px;
}
.padding_30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.padding_top_30 {
  padding-top: 30px;
}
.title_sign_in {
  font-size: 2.2em;
  line-height: 18px;
}
.title_section {
  font-size: 2.7em;
  padding-bottom: 10px;
  font-weight: 600;
}
.par_section {
  font-size: 1.5em;
  color: grey;
  text-align: center;
}
/* Inizio style */
/* HEADER */
/* NavBar */
#nav_bar {
  max-height: 60px;
  line-height: 63px;
  font-size: 1.1em;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  z-index: 60;
}
.header_logo {
  line-height: 60px;
  height: 27px;
  vertical-align: text-bottom;
  margin-top: 13px;
}
#nav_bar ul li a:not(.sign_up_button):hover,
#nav_bar ul li a:not(.sign_up_button):active,
#nav_bar ul li a:not(.sign_up_button):focus {
  text-decoration: none;
  color: #0069FF;
}
.sign_up_button {
  color: #0069FF;
  background-color: white;
  border: 1px solid #0069FF;
}
.sign_up_button:hover,
.sign_up_button:active,
.sign_up_button:focus {
  color: white;
  background-color: #0069FF;
  border: 1px solid #0069FF;
}
.burger_menu {
  font-size: 1.2em;
}

/* JUMBOTRON */
#jumbo {
  background-image: url(../img/jumbo.jfif);
  background-position: center;
  background-size: cover;
  margin-top: 60px;
}
.jumbo_cloud {
  padding: 0 50px;
}
.jumbo_cloud h1 {
  font-size: 4em;
}
.jumbo_cloud p {
  font-size: 1.4em;
  color: darkgrey;
}
.jumbo_form {
  background: white;
  border-radius: 5px;
}
.form-group {
  margin-bottom: 12px;
}
.sign_up_box button {
  width: 100%;
  margin-bottom: 12px;
  height: 30px;
  padding: 0;
}
.account_button {
  color: white;
  background-color: #0069FF
}
.google_button {
  position: relative;
}
.google_icon {
  position: absolute;
  height: 18px;
  left: 5px;
}
/* LOGO SECTION */
#logos {
  background-color: #F3F5F9
}
#logos h3 {
  color: grey;
  font-size: 1em;
}
#logos a:hover {
  text-decoration: none;
  color: #0069FF;
}
#logos li {
  max-width: calc(90%/6);
}
#logos li img {
  width: 100%;
}
/* DEPLOY SECTION */
.deploy_left ul {
  padding-left: 10px;
  border-left: 2px solid grey;
  font-size: 1.5em;
  color: grey;
  line-height: 44px;
}
.deploy_box {
  height: 156px;
  padding: 10px;
  margin-top: 15px;
}
.deploy_box img{
  height: 38px;
}
.deploy_box h2 {
  font-size: 1.2em;
  font-weight: 600;
  color:  #031B4E;
}
.deploy_box p{
  font-size: 1.1em;
  font-weight: 600;
  color: grey;
}
/* DESIGN SECTION */
#design{
  background-color: #F3F5F9;
}
#design img {
  width: 80%;
}
#design span {
  font-size: 3em;
}
#design .left_span {
  margin-right: 20px;
}
#design .right_span {
  margin-left: 20px;
}
#design p {
  font-size: 1.4em;
  font-weight: 600;
  padding-top: 20px;
}
.circles{
  font-size: 0.3em;
  word-spacing: 10px;
}
.circles i {
  margin-right: 5px;
}
/* FEATURES SECTION */
.features_box img{
  height: 38px;
}
.features_box h2 {
  font-size: 1.2em;
  font-weight: 600;
  color:  #031B4E;
}
.features_box p{
  font-size: 1.1em;
  font-weight: 600;
  color: grey;
}
.features_box a:hover,
.features_box a:active,
.features_box a:focus {
  text-decoration: none;
  color: #0069FF;
}
/* CUSTOMER SECTION */
#customer{
  background-image: linear-gradient(#0069FF, #0B2354);
}
#customer .customer_table {
  margin-bottom: 40px;
}
#customer .customer_line_table {
  padding-top: 10px;
  border-bottom: 1px white solid;
  margin-right: 3px;
}
#customer .customer_line_table .state {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
#customer .customer_line_table .country {
  color: grey;
  font-weight: 600;
}
.customer_line_table a:active,
.customer_line_table a:focus,
.customer_line_table a:hover{
  text-decoration: none;
  color: aquamarine;
}
/* DEVELOP SECTION */
#develop {
  background-color: #F3F5F9;
}
#develop .rocker_box {
  position: relative;
}
#develop .rocker_box .inside_box {
  width: 58%;
  padding: 70px;
  margin: 0 auto;
  background-color: white;
}
#develop .rocker_box .inside_box h4 {
  line-height: 25px;
  font-size: 1.4em;
  padding-top: 15px;
}
#develop .rocker_box .inside_box p{
  line-height: 10px;
}
#develop .rocker_box .inside_box a {
  line-height: 50px;
  font-size: 1.2em;
}
.inside_box span:first-of-type{
  font-size: 3em;
  margin: 0 20px;
  display: inline-block;
  margin-top: 50px;
  position: absolute;
  right: 80%;
  top: 30%;
}
.inside_box span:last-of-type{
  font-size: 3em;
  margin: 0 20px;
  display: inline-block;
  margin-top: 50px;
  position: absolute;
  left: 80%;
  top: 30%;
}
.rocker_box .circles {
  font-size: 1em;
}
.inside_box a {

}
.inside_box a:hover,
.inside_box a:active,
.inside_box a:focus {
  text-decoration: none;
  color: #0069FF;
}
/* GET STARTED SECTION */
#get_started {
 background-image: linear-gradient(#0069FF, #0B2354);
}
.create_button {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
  padding: 12px 28px;
}
.create_button:hover,
.create_button:active,
.create_button:focus {
  background-color: lightgrey;
  color: #0069FF
}
/* FOOTER */

#footer {
  background-color: darkgreen;
}



/* MEDIAQUERY */
/* EXTRA SMALL */
@media screen and (max-width: 768px) {
  .width_xs_100 {
    width: 100%;
  }
  #logos li {
    max-width: calc(90%/2);
  }
  #logos li img {
    width: 80%;
  }
}
