/* debug */
.debug .container,
.debug .container-fluid,
.debug-noheight .container,
.debug-noheight .container-fluid {
  border: 1px solid red;
  background: pink;
}
.debug .container [class*="col-"] {
  border: 1px solid blue;
  height: 300px;
}
.debug-noheight .container [class*="col-"] {
  border: 1px solid blue;
}
.wrap_80 {
  width: 80%;
  margin: 0 auto;
}
.width_50 {
  width: 50%;
  background-color: yellow;
  border: 1px solid grey;
}

/* Inizio style */
#nav_bar {
  height: 80px;
  background-color: blue;
}

#jumbo {
  height: 400px;
  background-color: lightblue;
}
.jumbo_cloud {
  /* height: 400px; */
  background: yellow;
}
.jumbo_form {
  /* height: 400px; */
  background: red;
}
#logos {
  height: 400px;
  background-color: purple;
}
#deploy{
  height: 400px;
  background-color: green;
}
#design{
  height: 400px;
  background-color: grey;
}
#features{
  height: 400px;
  background-color: lightgrey;
}
#customer{
  height: 400px;
  background-color: azure;
}
#develop {
  height: 400px;
  background-color: lightgreen;
}
#develop .box {
  width: 60%;
  height: 200px;
  background-color: yellow;
}
#develop .box .inside_box {
  width: 60%;
  height: 50px;
  background-color: red;
}
#get_started {
  height: 200px;
  background-color: brown;
}
#footer {
  height: 300px;
  background-color: darkgreen;
}



/* MEDIAQUERY */
/* EXTRA SMALL */
@media screen and (max-width: 768px) {
  .width_xs_100 {
    width: 100%;
  }
}
